*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --sidebar-color: #FFC09F;
    --accent-color1: #96CDFF;
    --accent-color2: #FFEE93;
    --darker-color1: #FCF5C7;
    --darker-color2: #ADF7B6;
}

html, body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr 6fr;
}
