*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.input {
    width: 33vw;
}

.user-input {
    display: flex;
    flex-direction: column;
    flex: 1;
}