html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.content {
    grid-area: 2 / 2;
    background-color: #aff293;
    width: 100%;
}