*, ::before, ::after {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

body {
    display: flex;    
    justify-content: center;
    margin: 0;
}

.wrapper {
    display: flex;
}

.background-image{
    flex: 1;
}

.container {
    flex: 3;
}

.personal_info {
    display: flex;
    flex-direction: column;
}

fieldset {
    max-width: 450px;
}

fieldset > label + input {
    margin-bottom: 5px;
}