body, html {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    
}
.grid-container {
    display: grid;
    width: 700px;
    height: 700px;
}
.square {
    background: #fff;
    border: 0.1px solid #000;
}